.DS_Store
rocksdb
.AppleDouble
.LSOverride
dump.rdb
target
*.pid
*.port
*.log
*.log.*
.classpath
.project
.settings
**/.classpath
**/.project
**/.settings
*LocalTest*
*localTest*
*localtest*

Icon
**/.idea
.idea/
.idea/**
*.iml
**/*.iml
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.checkstyle

.releaseBackup
release.properties
migration/src/main/resources/application-local.properties
pom.xml.releaseBackup
pom.xml.versionsBackup
apidoc/
apidoc.json
